h1 {
  border: 5px solid darkblue;
  display: inline;
  outline: thick solid rebeccapurple;
  outline-offset: 1px;
}
#p1 {
  text-transform: uppercase;
  /* letter-spacing: 10px; */
  word-spacing: 30px;
}
.p2 {
  line-height: 50px;
  text-decoration: line-through red dashed 3px;
  font-size: 40px;
  line-height: 80px;
}
